{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Album{% endblock %}

{% block content %}

  <h1>{{ album.title }}</h1>

  <div>{{ album.description }}</div>

  <a href="{% url 'edit_album' album.pk %}" >Edit</a>
  <a href="{% url 'delete_album' album.pk %}" >Delete</a>

  <div>
    {% for photo in photos %}
      <img src="{{ photo.photo.url }}">
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if photos.has_previous %}
          <a href="?page={{ photos.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
        </span>
        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
  </div>

{% endblock %}
