{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Library{% endblock %}

{% block content %}

<h1>Photos</h1>

{% if photos %}
  {% for photo in photos %}

  <div>
    <div>
      {% thumbnail photo.photo.path "50x50" crop="center" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
      {% endthumbnail %}
    </div>

  {% if photo.title %}
  {{ photo.title }}
  {% else %}
  <i>untitled</i>
  {% endif %}
  </div>

  {% endfor %}
{% else %}
  No photos!
{% endif %}



<h1>Albums</h1>

{% if albums %}
  {% for album in albums %}

  <div>
    <div>
      {% if album.cover %}
        {% thumbnail album.cover.photo.url "50x50" crop="center" as img %}
          <img src="{{ img.url }}" width="{{img.width}}" height="{{img.height}}">
        {% endthumbnail %}
      {% else %}
          <img src="{{ default_cover_url }}"
      {% endif %}
    </div>

  {% if album.title %}
  {{ album.title }}
  {% else %}
  <i>untitled</i>
  {% endif %}
  </div>

  {% endfor %}
{% else %}
  No albums!
{% endif %}

{% endblock %}
