{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Library{% endblock %}

{% block content %}

<h1>Albums</h1>

{% if albums %}
  {% for album in albums %}

  <div>
    <div>
      {% if album.nocover %}
        <img src="{% static "nocover.jpg" %}" width="50px" height="50px">
      {% else %}
        {% thumbnail album.cover_url "50x50" crop="center" as img %}
          <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
        {% endthumbnail %}
      {% endif %}
    </div>

  {% if album.title %}
  {{ album.title }}
  {% else %}
  <i>untitled</i>
  {% endif %}
  </div>

  {% endfor %}
{% else %}
  No albums!
{% endif %}


<h1>Photos</h1>

{% if photos %}
  {% for photo in photos %}

  <div class="libraryphoto">
    <div>
      {% thumbnail photo.photo.path "50x50" crop="center" as img %}
      <a href="{% url 'images' photo.pk %}">
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
      </a>
      {% endthumbnail %}
    </div>

    {% if photo.title %}
      {{ photo.title }}
    {% else %}
      <i>untitled</i>
    {% endif %}
  </div>

  {% endfor %}
{% else %}
  No photos!
{% endif %}


{% endblock %}
