{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  Photo {% if photo.title %} - {{ photo.title }} {% endif %}
{% endblock %}

{% block content %}


<h1>
  {% if photo.title %}
    {{ photo.title }}
  {% else %}
  <i>untitled</i>
    {% endif %}
</h1>

<a href="{% url 'edit_photo' photo.pk %}">Edit</a>
<a href="{% url 'delete_photo' photo.pk %}" >Delete</a>

<div><img src="{{ photo.photo.url }}" class="photofullsize"></div>

<div class="photodescription">{{ photo.description }}</div>
<div>Upload date: {{ photo.date_uploaded }}</div>
<div>Last modified: {{ photo.date_modified }}</div>

<div>Tags:
  {% for tag in photo.tags.all %}
    <a href="{% url 'tag' tag.name %}">"{{ tag.name }}"</a>
  {% endfor %}
</div>

{% endblock %}
